In [1]:
import conexion_a_db as db

In [3]:
str = "./DATA/db_data_bbg.db"

equity = db.Descargar_DF(str, 'equity')
equity.head(10)

                 Fecha                Pais       Valor
0  2021-01-04 00:00:00  Eurozona EuroStoxx    3564.390
1  2021-01-04 00:00:00      China Shanghai    5267.720
2  2021-01-04 00:00:00        Alemania DAX   13726.740
3  2021-01-04 00:00:00          Canada S&P   17527.770
4  2021-01-04 00:00:00       Australia S&P    6684.247
5  2021-01-04 00:00:00          Chile IPSA    4257.440
6  2021-01-04 00:00:00          Chile IGPA   21360.310
7  2021-01-04 00:00:00       Mexico Mexbol   44703.000
8  2021-01-04 00:00:00     Brasil Ibovespa  118854.710
9  2021-01-04 00:00:00        Usa DowJones   30223.890